<ul>
	<li><a href="/">Inicio</a></li>
	<li><a href="/contribuyentes">Contribuyentes</a></li>
	<li><a href="/facturas">Facturas</a></li>
</ul>

<h2 th:text="${mensaje} ?: ''"></h2>



<div>
	<div th:switch="${pago.id}">
		<h2 th:case="null">Crear pago</h2>
		<h2 th:case="*">Editar pago</h2>
	</div>

	<form action="#" th:action="@{/pagos}" th:object="${pago}"
		method="post">

		<input type="text" th:field="*{id}" id="id" placeholder="id"
			hidden="hidden"> <label for="folio">Folio</label> <input
			type="text" th:field="*{folio}" id="folio" placeholder="Folio">

		<label for="cantidad">Cantidad</label> <input type="text"
			th:field="*{cantidad}" id="cantidad" placeholder="Cantidad">

		<label for="moneda">Moneda</label> <input type="text"
			th:field="*{moneda}" id="moneda" placeholder="Moneda"> <label
			for="emisor">Emisor</label> <select th:field="*{emisor}">
			<option th:each="contribuyente : ${contribuyentes}"
				th:value="${contribuyente.id}" th:text="${contribuyente.nombre}">Emisor</option>
		</select> <label for="receptor">Receptor</label> <select th:field="*{receptor}">
			<option th:each="contribuyente : ${contribuyentes}"
				th:value="${contribuyente.id}" th:text="${contribuyente.nombre}">Receptor</option>
		</select> <input type="submit" value="Guardar pago">
	</form>

</div>

<div th:switch="${pagos}">
	<h2 th:case="null">Sin pagos disponibles</h2>
	<div th:case="*">
		<h2>Productos</h2>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Folio</th>
					<th>Cantidad</th>
					<th>Moneda</th>
					<th>Emisor</th>
					<th>Receptor</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pago : ${pagos}">
					<td th:text="${pago.id}"></td>
					<td th:text="${pago.folio}"></td>
					<td th:text="${pago.cantidad}"></td>
					<td th:text="${pago.moneda}"></td>
					<td th:text="${pago.emisor.nombre}"></td>
					<td th:text="${pago.receptor.nombre}"></td>
					<td><a th:href="@{/pagos/{id}(id=${pago.id})}">Editar</a></td>
					<td><a th:href="@{/pagos/eliminar/{id}(id=${pago.id})}">Eliminar</a></td>

				</tr>
			</tbody>
		</table>
	</div>

</div>